<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css')}}">
    <title>checkerboard</title>
</head>

<body>
    <div class="container">
        <div>
            <h1>***My Checkerboard***</h1>
        </div>
        <div class="chessboard">
            {% for i in range(row)%}
            <div>
                {% for j in range (col)%}
                    {%if i % 2 == 0 and j % 2 == 0%}
                        <p class="black"> </p>
                        {%elif i % 2 != 0 and j % 2 != 0%}
                        <p class="black"></p>
                        {%else%}
                            <p class="blue"> </p>
                    {%endif%}
                {%endfor%}
            </div>
            {%endfor%}
        </div>
    </div>
</body>

</html>